# Application
LOREDECK_ENVIRONMENT=local

# PostgreSQL container
POSTGRES_NAME=loredeck
POSTGRES_USER=loredeck
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
POSTGRES_SCHEME="postgresql+asyncpg"

LOREDECK_DATABASE_ECHO=false
